@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/

	.c-logo-part ul li {
		margin: 0 15px;
	}

	.form {
		margin: 0 0 0 20px
	}

	.main-nav {
		display: block;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/****Ipad Portrait 768 Container 750 ****/
	body {
		font-size: 13px;
	}

	p {
		line-height: 20px;
	}

	.header h1 {
		font-size: 46px;
	}

	.main-nav ul li a {
		padding: 14px;
	}

	.small-logo {
		padding: 0 20px;
	}

	h2 {
		font-size: 30px
	}

	h6 {
		font-size: 16px;
	}

	h3 {
		font-size: 15px;
	}

	.featured-work p.padding-b {
		padding-bottom: 15px;
	}

	.main-section {
		padding: 70px 0;
	}

	.c-logo-part ul li {
		margin: 0 1%;
		float: left;
		width: 18%;
	}

	.c-logo-part ul li a {
		display: block;
	}

	.c-logo-part ul li a img {
		display: block;
	}

	.form {
		margin: 0;
	}

	.social-link {
		margin: 0 auto;
	}

	.main-nav {
		display: block;
	}

	.main-nav li a {
		padding: 8px 15px;
	}
}

@media only screen and (max-width: 767px) {

	/****Mobile Landscape 480 Container 100% ****/
	body {
		font-size: 12px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 14px;
	}

	h6 {
		font-size: 16px;
		margin-bottom: 40px;
	}

	p {
		line-height: 18px;
	}

	.header h1 {
		font-size: 28px;
	}

	.header {
		padding: 60px 0;
	}

	.main-section {
		padding: 60px 0 70px;
	}

	.main-nav {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		top: 68px;
		margin: 0 auto;
		float: none;
		background: #fff;
	   	box-shadow: 0 7px 7px rgba(31,45,61,.15);
	}

	.main-nav li {
		display: block;
	}

	.main-nav li.small-logo {
		display: none;
	}

	.main-nav li a {
		display: block;
		padding: 7px 32px;
		border-bottom: none;
	}

	.main-nav li a:hover {
		color: #7cc576
	}

	.responsive-nav {
		display: block;
	}

	.me {
		text-align: center;
	}

	.me img {
		margin-bottom: 10px;
	}

	.featured-work {
		font-size: 12px;
		margin-top: 30px;
		width: 85%;
	}

	.featured-work h2 {
		text-align: center;
	}

	
	.featured-work .context {
		text-align: justify;
	}

	.featured-box {
		font-size: 12px;
	}

	.featured-box p {
		line-height: 18px;
	}

	.c-logo-part ul a {
		margin-bottom: 5px;
	}

	.business-talking h2 {
		font-size: 36px;
	}

	.social-link {
		margin: 0 auto;
	}

	.form {
		margin: 0 30px;
	}

	.copyright {
		font-size: 12px;
	}

	.business-talking a {
		padding: 10px 25px;
		font-size: 14px;
	}

	.main-section.contact {
		padding: 60px 0 70px
	}

	.link {
		font-size: 14px;
		padding: 10px 25px;
	}

	.logo {
		width: 100px;
	}

	.main-section.contact {
		background-size: contain;
	}

	.portfolio-nav li a {
		padding: 5px 16px;
	}

	.portfolio-nav li {
		display: block;
	}

	.password-protect-container>form>input[type=password] {
		width: 85%;
	}
}

@media only screen and (max-width: 479px) {

	/****Mobile Portrait 320 ****/
	.header {
		padding: 40px;
	}

	.social-link {
		margin: 0 auto;
	}

	.form {
		margin: 0
	}

	.c-logo-part ul li {
		display: block;
	}

	.portfolio-box {
		max-width: 300px;
		width: 96.4%;
		margin: 0;
		margin-bottom: 50px;
	}

	.portfolio-box img {
		max-width: 100%;
	}

	.portfolio-container {
		width: 280px;
		margin: 0 auto;
	}
}