/* Common
---------------------------------*/
p,
span,
ul,
ol,
a {
	color: #555;
	font-size: 16px;
}

ul.dash {
    list-style-type: '\2014  ';
}

.hide {
	display: none;
}

.center {
	text-align: center;
	display: block;
}

img.center {
	margin: 0 auto;
}

.italic {
	font-style: italic;
}

.highlight {
	color: #9a58a2;
	font-family: 'PT Serif', serif;
	font-size: 18px;
}

.highlight-in-text {
	color: inherit;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	letter-spacing: 0.3px;
}

.shadowed-box {
    padding: 20px;
	margin: 40px 0;
	border-radius: 10px;
	box-shadow: 0 0 1rem rgba(31,45,61,.13);
}

.bordered-box {
	padding: 15px;
	margin: 40px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
}

/* Margins
 ---------------------------------*/
 .margin-top-0 {
	margin-top: 0 !important;
}

 .margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
   margin-top: 10px !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
 }

.margin-bottom-5 {
   margin-bottom: 5px !important;
}

.margin-bottom-10 {
   margin-bottom: 10px !important;
}

.margin-right-0 {
	margin-right: 0 !important;
}

 .margin-right-5 {
	 margin-right: 5px !important;
 }

 .margin-right-10 {
	margin-right: 10px !important;
}

.margin-left-0 {
	margin-right: 0 !important;
}

 .margin-left-5 {
	margin-right: 5px !important;
}

.margin-left-10 {
	margin-right: 10px !important;
}

/* Float Elements 
---------------------------------*/
.fl-lt {
	float: left;
}

.fl-rt {
	float: right;
}

/* Clear Floated Elements
---------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.figure {
	margin: 0px;
}

img {
	max-width: 100%;
}

a,
a:hover,
a:active {
	outline: 0px !important
}

/* Primary Styles
---------------------------------*/
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
}

h2 {
	font-size: 34px;
	color: #222222;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 15px 0;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	color: #222222;
	font-size: 16px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	font-weight: 400;
}

h6 {
	font-size: 16px;
	color: #555;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 0 0 60px 0;
}

p {
	line-height: 24px;
}

/* Header Styles
---------------------------------*/
.header {
	text-align: center;
	padding: 277px 0;
}

.me {
	text-align: center;
}

.me img {
	width: 200px;
	margin: 0 auto 35px;
	border-radius: 50%;
}

.header h1 {
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0 0 22px 0;
	color: #000;
}

.wp-pic {
	margin-bottom: 20px;
}

.we-create li {
	display: inline-block;
	font-size: 16px;
	color: #3a3a3a;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 5px 0 0;
	padding: 0 0 0 15px;
}

.we-create li:first-child {
	background: none;
}

.link {
	padding: 15px 35px;
	background: #377dff;
	color: #fff !important;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.link:hover {
	text-decoration: none;
	color: #377dff!important;
	background: #fff;
}

.link:active,
.link:focus {
	background: #377dff;
	text-decoration: none;
	color: #fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer {
	padding: 0px;
	border-bottom: 1px solid #dddddd;
	box-shadow: 0 4px 5px -3px #ececec;
	position: relative;
	background: #fff;
	width: 100% !important;
}

.main-nav {
	text-align: center;
	margin: 10px 0 0px;
	padding: 0;
	list-style: none;
	min-height: 65px;
}

.main-nav li {
	display: inline;
	margin: 0 1px;
}

.main-nav li a {
	display: inline-block;
	color: #222222;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 20px;
	margin: 17px 32px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.main-nav li a:hover {
	text-decoration: none;
	color: #377dff;
}

.main-section {
	padding-top: 70px;
}

/* Featured Work
---------------------------------*/
.featured-work {
	font-size: 14px;
	text-align: center;
	width: 65%;
	margin: 0 auto;
}

.featured-work .context {
	font-size: 1.3em;
	display: block;
	margin-top: 50px;
}

.featured-work h2 {
	text-align: center;
}

.featured-box {
	padding: 0 0 0 0;
	margin-bottom: 25px;
	font-size: 14px;
}

.featured-box h3 {
	margin-bottom: 5px;
}

.featured-box p {
	line-height: 22px;
}

.featured-work p.padding-b {
	padding-bottom: 35px;
}

.featured-box-col1 {
	width: 60px;
	float: left;
}

.featured-box-col1 i {
	display: block;
	line-height: 38px;
	font-family: 'FontAwesome';
	font-size: 38px;
	color: #777777;
	font-style: normal;
}

.featured-box-col2 {
	overflow: hidden;
}

.featured-box.magic {
	background: url(../img/magic.png) left top no-repeat;
}

.featured-box.packaged {
	background: url(../img/packaged.png) left top no-repeat;
}

.featured-box.seo {
	background: url(../img/seo.png) left top no-repeat;
}

/* Portfolio
---------------------------------*/
.portfolio-nav {
	padding: 0;
	margin: 0 0 45px 0;
	list-style: none;
	text-align: center;
}

.portfolio-nav li {
	margin: 0 10px;
	display: inline;
}

.portfolio-nav li a {
	display: inline-block;
	padding: 10px 22px;
	font-size: 12px;
	line-height: 20px;
	color: #222222;
	border-radius: 4px;
	text-transform: uppercase;
	background: #f7f7f7;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.portfolio-nav li a:hover {
	background: #377dff;
	color: #fff;
	text-decoration: none;
}

.portfolio-container {
	margin: 0 auto;
	padding-left: 15px;
	max-width: 1140px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio-box {
	text-align: center;
	margin: 0 10px 40px 10px;
	padding: 0;
	width: 350px;
	min-height: 400px;
}

.portfolio-box .title {
	font-weight: bold;
}

.portfolio-box .type,
.portfolio-detail .type {
	background-color: #dbe3d3;
    border-radius: 3em;
    width: fit-content;
    padding: 0.3rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
	color: #016101;
	letter-spacing: 0.5px;
    margin: 1rem auto;
}

.portfolio-detail .type {
	margin-left: 0;
	background-color: #494949;
	color: rgb(248, 248, 248);
}

.portfolio-box h4,
.portfolio-box span {
	margin-top: 0;
	margin-bottom: 5px;
}

.portfolio-box img {
	padding: 0;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.portfolio-box img:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.portfolio-box .multine-ellipsis {
    display: -webkit-box;
    max-width: 400px;
    -webkit-box-orient: vertical;
}

.portfolio-nav li a.current {
	background: #377dff;
	color: #fff;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

/* Contact
---------------------------------*/
.contact>.container>i {
	margin-right: 10px;
	font-size: 17px;
}

.social-link {
	padding: 50px 0;
	margin: 0 auto;
	display: table;
	overflow: hidden;
	list-style: none;
}

.social-link li {
	float: left;
	margin-right: 8px;
}

.social-link li a {
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	color: #fff;
	background: #222222;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.social-link li a:hover,
.social-link li a:focus {
	text-decoration: none;
}

.linkedin a:hover {
	background: #0077b5;
}

.behance a:hover {
	background: #1769ff;
}

.twitter a:hover {
	background: #55acee;
}

.facebook a:hover {
	background: #3b5998;
}

.pinterest a:hover {
	background: #cb2026;
}

.dribbble a:hover {
	background: #ea4c89;
}

.form {
	margin: 0 66px 0 30px;
}

.input-text {
	padding: 15px 16px;
	border: 1px solid #ccc;
	width: 100%;
	height: 50px;
	display: block;
	border-radius: 4px;
	font-size: 15px;
	color: #aaa;
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 15px 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
	border: 1px solid #377dff;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
	height: 165px;
	resize: none;
	overflow: auto;
}

.input-btn {
	width: 175px;
	height: 50px;
	background: #377dff;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	border: 0px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
	background: #111;
	color: #fff;
}

.validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

.responsive-nav {
	line-height: 38px;
	font-family: 'FontAwesome';
	font-size: 38px;
	text-decoration: none !important;
	color: #777777;
	font-style: normal;
	display: none;
	width: 42px;
	height: 27px;
	margin: 20px auto;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.responsive-nav:hover,
.responsive-nav:active,
.responsive-nav:focus {
	color: #377dff !important;
}

/* Portfolio Detail
---------------------------------*/
.portfolio-detail {
	padding-bottom: 150px;
	text-align: justify;
}

.portfolio-detail .close {
	position: fixed;
    float: right;
    right: 20px;
    top: 100px;
}

.portfolio-detail .row {
	padding-left: 15px;
	padding-right: 15px;
}

.portfolio-detail h2 {
	text-align: left;
	margin-bottom: 30px;
	text-transform: none;
}

.portfolio-detail h4 {
	font-weight: normal;
	font-size: 2em;
	padding-bottom: 10px;
}

.portfolio-detail ul,
.portfolio-detail ol {
	margin-bottom: 30px;
}

.portfolio-detail img:not(.img-thumbnail) {
	margin: 40px 0;
	display: block;
	border-radius: 4px;
	opacity: 0;
}

.portfolio-detail img:not(.initial):not(.img-thumbnail) {
	transition: opacity 3s;
}

.portfolio-detail img.initial,
.portfolio-detail img.loaded,
.portfolio-detail img.loading,
.portfolio-detail img.error {
	opacity: 1;
}
.portfolio-detail img:not([src]) {
	visibility: hidden;
}

.portfolio-detail img.error {
	margin: 40px auto;
}

.portfolio-detail img.center {
	margin: 40px auto;
}

.portfolio-detail .scroll-to-top {
	border-radius: 32px;
    width: 50px;
	height: 50px;
	margin: 150px auto 0 auto;
    background-size: contain;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.portfolio-detail .scroll-to-top svg {
	width: inherit;
	height: inherit;
	stroke: none;
	fill-rule: nonzero;
	fill: rgb(80%,80%,80%);
	fill-opacity: 1;
}

.portfolio-detail .scroll-to-top:hover,
.portfolio-detail .scroll-to-top:focus {
	box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sub-projects {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.sub-projects > .title {
	padding-bottom: 50px;
	display: table-caption;
}

.sub-projects > .title > p { 
	font-size: 1.3em;
}

/* Animation Timers
---------------------------------*/
.delay-01s {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}

.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

/* Scrollbar
 ---------------------------------*/
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

/* Password Protect
 ---------------------------------*/
.password-protect-container>.title {
	font-size: 26px;
	margin-bottom: 20px;
	display: inline-block;
}

.password-protect-container>form>.invalid-password {
	color: #d9534f;
	display: inline-block;
	margin-bottom: 30px;
    font-size: 1.2em;
    padding: 8px;
}

.password-protect-container>form>input[type=password] {
	text-align: center;
	width: 50%;
	display: inline-block;
	margin-bottom: 30px;
}

.password-protect-container>form>input[type=submit] {
	width: 100px;
}

/* Project Pages Custom Styles
 ---------------------------------*/
.novartis-custom-style {
	background-color: #EFE6E1;
}

.novartis-custom-style .scroll-to-top svg {
	fill: rgb(60%, 50%, 50%);
}

.isbank-custom-style {
	background-color: #E0F9FF;
}

.isbank-custom-style .scroll-to-top svg {
	fill: #4D5E87;
	fill-opacity: 0.7;
}

.ethnographic-custom-style {
	background-color: #FDFFDF;
}

.ethnographic-custom-style .scroll-to-top svg {
	fill: rgb(60%, 50%, 50%);
}

.personas-custom-style {
	background-color: #E3D0FB;
}

.personas-custom-style .scroll-to-top svg {
	fill: rgb(149, 118, 188);
}


/* 404 Page
 ---------------------------------*/
.not-found-continer {
	display: block;
	text-align: center;
	padding-top: 10rem;
	font-family: 'Open Sans';
}

.not-found-continer img {
	margin-bottom: 40px;
}

.not-found-continer h2 {
	margin-bottom: 60px;
}

.bottom-clouds {
	position: absolute;
	bottom: 0;
	width: 100%;
}